<header id="main__header">
  <div id="logo"><a href="/">Logo</a></div>
  <nav>
    <div class="nav__items">
      <% if(!locals.isAuth){   %>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <% } %>
      <% if(locals.isAuth){  %>
      <a href="/profile">Profile</a>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
      <% } %>
    </div>
  </nav>
  <button id="hamburger__button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile__navigation">
  <nav>
    <div class="nav__items">
      <% if(!locals.isAuth){   %>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <% } %>
      <% if(locals.isAuth){  %>
      <a href="/profile">Profile</a>
      <form action="/logout" method="POST">
        <button>Logout</button>
      </form>
      <% } %>
    </div>
  </nav>
</aside>
