<header id="main__header">
  <div id="logo"><a href="/">Logo</a></div>
  <nav>
    <div class="nav__items">
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/">Profile</a>
    </div>
  </nav>
  <button id="hamburger__button">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>
<aside id="mobile__navigation">
  <nav>
    <div class="nav__items">
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/">Profile</a>
    </div>
  </nav>
</aside>
