<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head', {pageTitle: 'Profile'}) %>
    <link rel="stylesheet" href="/styles/form.css" />
    <script src="/scripts/file-preview.js" defer></script>
  </head>
  <body>
    <%- include('includes/navigation')%>

    <h3>Upload your image</h3>

    <form action="/profile" method="post" enctype="multipart/form-data">
      <div class="form__item">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" required />
      </div>

      <div class="form__item">
        <label for="image">Image</label>
        <img id="image-preview" src="" alt="Image preview" />
        <input type="file" id="image" name="image" required accept="image/*" />
      </div>

      <button>SAVE</button>
    </form>
  </body>
</html>
